[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
discord-py = {extras = ["voice"],file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip"}
mecab-python3 = "*"
numpy = "*"

[scripts]
start = "python app.py"
mecab = "python generate_serifu.py"
lint = "flake8 ."
fix = "autopep8 -ivr ."

[requires]
python_version = "3.7.0"
